body{
    text-align: center;
}

.informationInput{
    font-size: 50px;
}

.back{
    position: fixed;
    bottom: 100px;
    left: 300px;
    font-size: 40px;
}

.next{
    position: fixed;
    bottom: 100px;
    right: 300px;
    font-size: 40px;
}

.title{
    font-size: 50px;
    margin-top: 2em;
    margin-bottom: 0;
}

.subtitle{
    font-size: 50px;
    margin-top: 0;
}

.menu{
    font-size: 50px;
    width: 10em;
    height: 75px;
    margin-top: 1em;
}

.inputarea{
    font-size: 30px;
    width: fit-content;
    margin: auto;
}

.attendee{
    font-size: 30px;
    width: 600px;
}

#attendeeslist{
    width: 495px;
    min-height: 250px;
    position: fixed;
    bottom: 270px;
    right: 263px;
}

#delete{
    position: fixed;
    bottom: 215px;
    right: 263px;
    font-size: 30px;
}

#resistername{
    position: fixed;
    width: 8em;
    bottom: 420px;
    left: 263px;
    font-size: 30px;
}

#resister{
    position: fixed;
    bottom: 365px;
    left: 435px;
    font-size: 30px;
}

#deadline{
    width: 620px;
}

#home{
    text-align: center;
}