body{
    text-align: center;
}

.informationInput{
    font-size: 6vh;
    width: 38.4vw;
}

.back{
    position: fixed;
    bottom: 10vh;
    left: 25vw;
    font-size: 5vh;
}

.next{
    position: fixed;
    bottom: 10vh;
    right: 25vw;
    font-size: 5vh;
}

.title{
    font-size: 6vh;
    margin-top: 5vh;
    margin-bottom: 0;
}

.subtitle{
    font-size: 6vh;
    margin-top: 0;
    margin-bottom: 10vh;
}

.menu{
    font-size: 6vh;
    width: 10em;
    height: 9vh;
    margin-top: 1em;
}

.inputArea{
    font-size: 4vh;
    width: fit-content;
    margin: auto;
}

.attendee{
    font-size: 4vh;
    position: fixed;
    left: 21vw;
    top: 35vh;
}

.selectBox{
    font-size: 2vw;
    width: 37vw;
    min-height: 35vh;
    position: fixed;
    top: 30vh;
    right: 21vw;
}

#delete{
    position: fixed;
    top: 66vh;
    right: 21vw;
    font-size: 4vh;
}

.resisterInput{
    position: fixed;
    width: 19vw;
    bottom: 53vh;
    left: 21vw;
    font-size: 4.5vh;
}

#resister{
    position: fixed;
    bottom: 45vh;
    right: 59.5vw;
    font-size: 4vh;
}

#deadline{
    width: 38.7vw;
}

#home{
    text-align: center;
}